.sidebar{ /*bg menu*/
	background: #fff9c4;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #ffc107;
}
.navbar{ /*bg header*/
	background: #fff176 ;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #e65100;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #e65100;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link{ /*bg dan color menu saat hover*/
	background:#fff59d;
  color: #e65100;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: white;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #ffd740;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #e65100;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"]{
	
}