.sidebar{ /*bg menu*/
	background: #a5d6a7;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #43a047;
}
.navbar{ /*bg header*/
	background: #81c784;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #1b5e20;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #1b5e20;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > *{ /*bg dan color menu saat hover*/
	background:#c8e6c9;
  color: #3949ab;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: #3949ab;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #c8e6c9;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #fff;
}