.sidebar{ /*bg menu*/
	background: #ff8a65;
}
.navbar .navbar-brand-wrapper{ /*bg sim kkn*/
	background: #b71c1c;
}
.navbar{ /*bg header*/
	background: #ff3d00;
}
.sidebar .nav .nav-item .nav-link{ /*color text menu*/
	color: #b71c1c;
}
.sidebar .nav .nav-item .nav-link i{ /*color icon text menu*/
	color: #b71c1c;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link{ /*bg dan color menu saat hover*/
	background:#ffccbc;
  color: #ef5350;
}
.sidebar .nav .nav-item.active > .nav-link { /*text menu saat aktif*/
	color: white;
}
.sidebar .nav .nav-item.active{ /*bg menu saat aktif*/
	background: #d50000;
}
.navbar .navbar-menu-wrapper{ /*text color header*/
	color: #fff;
}